/* Mobile First (muotoillaan html-sivu ensin mobiili-näkymään ja sitten mahdollisiin muihin näkymiin */
html {
  font-size: 62.5%; /* base font size: 62.5% x 16px = 10px */
}
body {
  margin: auto;
  font-family: "Cookie", cursive;
  font-family: "Sawarabi Mincho", serif;
  max-width: 102.4rem;
}
h1,
h2,
h3,
p,
pre,
ul,
section {
  margin-block-end: 3rem;
}
section {
  background-color: #bbddee;
  padding: 1rem;
}
h1 {
  font-size: 3.2rem;
}
h2 {
  background-color: #88aabb;
  font-size: 2.8rem;
  text-align: right;
  text-transform: lowercase;
  letter-spacing: 3px;

  border-width: 2px 0 0 0;
  margin-block-start: -1rem;
  margin-inline: -1rem -1rem;
  padding: 0.5rem;
}
h3 {
  font-size: 2.4rem;
}
p {
  font-size: 1.6rem;
}
pre {
  font-family: "Courier New", Courier, monospace;
  font-size: 1.6rem;
  padding-inline-start: 2rem;
}
ul {
  font-size: 1.6rem;
}
/* CLASS-tyyppiset säännöt */

.iso-kirjain {
  float: left;
  font-size: 500%;
  width: 1.2em;
  text-align: center;
  padding: 0.1em 0.1em 0;
  background-color: #568;
  color: white;
  border: solid white 1px;
  border-width: 0 0.2em 0.2em 0;
  margin: -1rem 0.5em 0.2em -1rem;
}

/* ID-tyyppiset säännöt */

#pikkukuva-vasen-ylanurkka {
  float: left;
  margin: -1.2rem 1rem 1rem -1.2rem;
  display: block; /* kuvasta responsiivinen */
  width: 9rem; /* määrittelee kuvan leveydeksi 90px */
}

#toinen-section {
  border: 2px solid black;
}

#toinen-section-h2 {
  border: none;
}
#kolmas-section {
  border: solid black 2px;
}

#pikkukuva-vasen-ylanurkka img {
  max-width: 100%; /* kuvasta responsiivinen */
}

/*  3. laatikon bannerit paikoilleen*/
.banner1 {
  float: left;
  display: flex;
  height: 6rem;
  width: 30rem;
  margin: -12px 1.7rem 1rem -12px;
  background-color: white;
  border: solid black 2px;
  border-width: 0 2px 2px 0;
  padding-inline: 1rem 2rem;
  padding-block-end: 3rem;
  font-size: 1.6rem;
}

.banner2 {
  float: right;
  width: 25%;
  text-align: left;
  font-size: 140%;
  font-weight: bold;
  font-style: italic;
  padding: 1em;
  text-indent: -0.5em;
  background: white;
  color: black;
  border: solid black 1px;
  border-width: 2px 0 2px 2px;
  margin: 0 -12px 0 0;
}

/* Tablet-näkymä ja suuremmat näkymät */

/* Tablet- suuremmat */

@media only screen and (min-width: 1024px) {
  body {
    background-color: white;
  }
  #box3 .banneri {
    float: left;
    font-size: 1.4rem;
    width: 40rem;
    height: 4rem;
    text-align: center;
    padding: 0 10px 5px 0;
    background: white;
    color: black;
    border: solid black 1rem;
    border-width: 0 1px 1px 0;
    margin: -1.1rem 0.5em 0.2em -1.1rem;
  }
}
